body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://i.ibb.co/HgvbPgR/pjd.png") center / cover no-repeat;
}

/* Extra extra large screens (xxl) */
@media (min-width: 1400px) {
  .bg {
    height: 1100px;
  }
}

/* Extra large screens (xl) */
@media (max-width: 1399px) and (min-width: 1200px) {
  .bg {
    height: 1040px;
  }
}

/* Large screens (lg) */
@media (max-width: 1199px) and (min-width: 992px) {
  .bg {
    height: 1040px;
  }
}

/* Medium screens (md) */
@media (max-width: 991px) and (min-width: 768px) {
  .bg {
    height: 1040px;
  }
}

/* Small screens (sm) */
@media (max-width: 767px) {
.bg {
    height: 1040px;
  }
}

/* Extra small screens (xs) */
@media (max-width: 576px) {
  .bg {
    height: 700px;
  }
}

.dergi1,
.dergi2,
.dergi3,
.dergi4,
.dergi5,
.dergi6,
.dergi7,
.dergi8 {
  position: absolute;
  z-index: 999;
  transition: all 200ms ease-in-out;
}

.dergi1 {
  top: 32.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dergi2 {
  top: 47.5%;
  left: 48.5%;
  transform: translate(-75%, -50%);
}

.dergi3 {
  top: 47.5%;
  left: 50%;
  transform: translate(-25%, -50%);
}

.dergi4 {
  top: 62%;
  left: 48.5%;
  transform: translate(-75%, -50%);
}

.dergi5 {
  top: 62%;
  left: 50%;
  transform: translate(-25%, -50%);
}


.dergi1:hover,
.dergi2:hover,
.dergi3:hover,
.dergi4:hover,
.dergi5:hover {
  transform: translate(-50%, -50%) scale(2);
  z-index: 1000; /* Increase the z-index to bring the hovered element to the front */
  cursor: pointer;
}

.pagination {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: linear-gradient(135deg, #b16630, #4c183f);
  padding: 10px;
  border-radius: 10px;
}

.pagination button {
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination button:first-child {
  margin-right: 20px;
}


.magazine .page {
  height: 100%;
}

.magazine .page img {
  max-width: 100%;
  height: 100%;
}


:root {
  --font-family-primary: 'Vollkorn', serif;
  --font-family-secondary: 'PT Sans', sans-serif;
  
  --font-size-title: 32px;
  --line-height-title: 1.4;
  --font-size-caption: 14px;
  --line-height-caption: 1.2;
  
  --color-text: #222022;
  --color-highlight-primary: #FFEF7E;
  --color-highlight-secondary: #B7F9E9;
  --border-radius-primary: 32px; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin mediaBig {
  @media (min-width: 576px) {
    @content;
  }
}

@include mediaBig {
  :root {
    --font-size-title: 40px;
  }  
}

.card {
  max-width: 960px;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
  animation: slide-in 0.5s ease-in-out;
  background-color: rgb(100, 128, 204);
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card__magazine {
  width: 100%;
  max-height: 300px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  margin-bottom: 18px;
  
  @include mediaBig {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}

.card__content {
  @include mediaBig {
    width: 55%;
    padding-left: 40px;
  }
}

.card__date {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 6px;
  
  @include mediaBig {
    margin-bottom: 8px;
  }
}

.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  box-decoration-break: clone;
  background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
}

.card__content {
  position: relative;
}

.exit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 50%);
  background-color: #fff;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.exit-icon i {
  color: #000;
}